body {
    margin: 0;
    font-family: Arial;
    background: #f8f8f8;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #1b3c59;
    color: white;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links a.active {
    background: #ffffff33;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* CARDS */
.container {
    padding: 40px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

button {
    background: #1b3c59;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}

/* CARRITO */
#carrito {
    background: white;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
}

/* LOGIN */
.login-box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

/* ADMIN */
.admin-title {
    text-align: center;
    margin-top: 30px;
}

.admin-item {
    background: white;
    margin: 10px auto;
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
}
